<h2><%= change_table_title%></h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th><%= @start_column%></th>
      <th><%= @center_column%></th>
      <th><%= @end_column%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
