<% if user_signed_in? %>
  <div class="text-right pt-2 mr-2">
    <%= form_with url: search_path, local: true, method: :get, 'data-turbolinks': false do |f| %>
      <i class="fas fa-search fa-lg"></i>
      <%= f.text_field :keyword %>
      <%= f.submit 'Search', class: "border-solid bg-primary text-white border-primary" %>
    <% end %>
  </div>
<% end %>
